/*
LocalWeatherApp
- - - - - - - - - -
http://codepen.io/DizNicolasAmor/pen/XpqoQz
Author:  Diz, Nicolás Amor (https://github.com/DizNicolasAmor)
This project is a challenge posed by FreeCodeCamp.
API from http://openweathermap.org/api
*/

body{
  background: radial-gradient(circle, skyblue, blue);
}

h1, h2, h3, h4{
  font-family: Arial;
  margin: 5% 5% 5% 5%;
}

/* classes */
.title{
  font-size: 3.5em;
  text-align: center;
}

.content {
  border-radius: 5%;
  width: 75vw;
  max-width: 50em;
  margin: 10% auto;
  background: rgba(255, 255, 255, .75);
  box-shadow: .5em .5em .5em rgba(0, 0, 0, .4);
  text-align: center;
}

#convert{
  background-color: skyblue; 
  border-radius: 5%;
  font-family: arial;
  width: 15vw;
  max-width: 10em;
  margin-left: 40%;
  margin-right: 40%;
  background: rgba(255, 255, 255, .75);
  box-shadow: .5em .5em .5em rgba(0, 0, 0, .4);
  text-align: center;
}
